@model IEnumerable<BiblotekaWeb.Areas.admin.Models.Kategorium>

@{
    ViewData["Title"] = "Kategoritë";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Kategoritë</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Ballina</a></li>
                        <li class="breadcrumb-item active">Kategoritë</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Shkarko</a>
                    <a asp-action="Shto" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Emertimi</th>
                                        <th>Pershkrimi</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var kategori in Model)
                                    {
                                        <tr>
                                            <td>@kategori.KategoriaId</td>
                                            <td>
                                                <h2>
                                                    <a>@kategori.Emertimi</a>
                                                </h2>
                                            </td>
                                            <td>@kategori.Pershkrimi</td>
                                            <td class="text-right">
                                                <div class="actions">
                                                    <a asp-action="Edito" asp-route-id="@kategori.KategoriaId" class="btn btn-sm bg-success-light mr-2">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    <a asp-action="Fshi" asp-route-id="@kategori.KategoriaId" class="btn btn-sm bg-danger-light">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2021 Menaxhimi i Biblotekes.</p>
    </footer>
</div>
