@model IEnumerable<BiblotekaWeb.Areas.admin.Models.Huazimi>

@{
    ViewData["Title"] = "Huazimet";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Huazimet</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Ballina</a></li>
                        <li class="breadcrumb-item active">Huazimet</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Shkarko</a>
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-print"></i> Printo</a>
                    <a asp-action="Huazo" asp-controller="Huazimet" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-hover table-center mb-0 ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Klienti</th>
                                        <th>Libri</th>
                                        <th>Data Huazimit</th>
                                        <th>Data Kthimit</th>
                                        <th>Sasia</th>
                                        <th>Përshkrimi</th>
                                        <th>Statusi</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var huazim in Model)
                                    {
                                        <tr>
                                            <td>@huazim.HuazimiId</td>
                                            <td>
                                                <h2>
                                                    <a>@huazim.Klienti.Emri @huazim.Klienti.Mbiemri</a>
                                                </h2>
                                            </td>
                                            <td>@huazim.Libri.Titulli</td>
                                            <td>@huazim.DataHuazimi.ToString("dd/MM/yyyy")</td>
                                            @if (huazim.DataKthimit < DateTime.Now)
                                            {
                                                <td class="text-danger">@huazim.DataKthimit.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>@huazim.DataKthimit.ToString("dd/MM/yyyy")</td>
                                            }
                                            <td>@huazim.NumriKopjeve</td>
                                            <td>@huazim.Pershkrimi</td>
                                            @if (huazim.Statusi)
                                            {
                                                <td>
                                                    <span class="badge badge-success">Aktiv</span>
                                                </td>
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a href="edit-department.html" class="btn btn-sm bg-success-light mr-2">
                                                            <i class="fas fa-arrow-down"></i>
                                                        </a>
                                                        @if (huazim.DataKthimit < DateTime.Now)
                                                        {
                                                            <a href="#" class="btn btn-sm bg-success-light">
                                                                <i class="fas fa-paper-plane"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge badge-danger">Përfunduar</span>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2021 Menaxhimi Biblotekës.</p>
    </footer>
</div>
